@model IEnumerable<Category>
@{
    ViewData["Title"] = "Categories";
}

<partial name="_Notification" />
<div class="d-flex justify-content-between align-items-center my-2">
    <div>
        <h1>@ViewData["Title"]</h1>
    </div>
    <div>
        <a asp-controller="Category" asp-action="Create" class="btn btn-primary w-full text-center">Add New Category</a>
    </div>
</div>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in Model)
        {
            <tr>
                <td width="50%">@obj.Name</td>
                <td width="30%">@obj.DisplayOrder</td>
                <td class="px-3">
                    <a class="btn btn-info w-100" asp-controller="Category" asp-action="Edit" asp-route-id="@obj.Id">
                        Edit
                    </a>
                </td>
                <td class="px-3">
                    <a class="btn btn-danger w-100" asp-controller="Category" asp-action="Delete" asp-route-id="@obj.Id">
                        Delete
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>